.card{
    display: flex;
    border: 1px solid #797979;
    flex-direction: row;
}

.name{
    margin-left: 25px;
    padding-top: 27px;
    font-weight: 600;
}

.card:hover{
    background-color: #797979;
    color: #fff;
    box-shadow: 0 8px 16px 0 rgba(2,2,2,0.5);
}

.remove{
    position: absolute;
    display: none;
    top: 35%;
    right: 6%;
}

.image {
    position: relative;
    height: 100px;
}

.image>img{
    max-height: 100%;
}

.image:hover .remove {
    display: block;
}
